<h1> Profile Editor </h1>

<h2> {{title}} </h2>

<div class="read-profile" *ngIf="!displayEdit">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{user.age}}</td>
      </tr>
      <tr>
        <td>Favirite Color</td>
        <td>{{user.favoriteColor}}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{user.gender}}</td>
      </tr>
      <tr>
        <td>Hobby</td>
        <td>{{user.hobby}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="write-profile" *ngIf="displayEdit">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><input id="name" name="name" [(ngModel)]="user.name"></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><input id="age" name="age" [(ngModel)]="user.age"></td>
      </tr>
      <tr>
        <td>Favirite Color</td>
        <td><input id="favoriteColor" name="favoriteColor" [(ngModel)]="user.favoriteColor"></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <select [(ngModel)]="user.gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        </td>
      </tr>
      <tr>
        <td>Hobby</td>
        <td>
          <select name="hobby" id="hobby" [(ngModel)] = "user.hobby">
            <option *ngFor="let hobby of hobbies" value="{{hobby}}">{{hobby}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="toggleEdit()">Toggle Edit</button>
